<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if current_user %>
    <% if current_user.role == 'admin'%>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <%= link_to 'Papa-passya', root_path, class:'navbar-brand' %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to 'Companies', companies_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Spaces', spaces_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Events', events_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Account', edit_user_registration_path, class:'nav-link' %>
          </li>
        </ul>
        <%= link_to 'Salir', destroy_user_session_path, method: :delete, class:'nav-link' %>
      </div>
    <% elsif current_user.role == 'promotor' %>
      
    <% end %>
  <% else %>
    
  <% end %>
</nav>
